body{
	background-image: url("/img/background-img.jpg");
}
label{
	color: #4a4a4a;
}
.color-green{
	color: #398439;
}
label.error{
	color: red;
	font-weight: normal;
}
.aaj-khane-mai-kya-hai-wrapper{
	margin: 1em;
	padding: 1em;
}
.aaj-khane-mai-kya-hai-wrapper-inner{
	background: #fff;
	box-shadow: 0 2px 7px 3px rgba(0,0,0,.05);
	border-radius: 3px;
}

.menu-form{
	margin: 1em;
}

.btn-show-menu{
	background: linear-gradient(120deg,#f7415f,#fe734e);
	color: #fff;
}

.show-todays-menu{
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 3em;
    box-shadow: 0 2px 7px 3px rgba(0,0,0,.05);
    border: 1px solid #e7e7e7;
    margin-top: 1em;
}
.copyright{
	position:  absolute;
	right: 0;
	color: white;
	margin-right: 10px;
	bottom: 0;
}

.copyright span{
	font-weight: bold;
	color: green;
}

.copyright a{
	color: yellowgreen
}
